 
<!-- Main Page Content and Sidebar -->
 
<div class="row">
 
  <!-- Main Blog Content -->

  <div class="large-9 columns" role="content">
    <% @posts.each do |post| %>
      <%= render :partial => "one_post", :locals => { :one_post => post } %>
      <hr />
    <% end %>
  </div>

  <!-- End Main Content -->
 
  <!-- Sidebar -->

  <aside class="large-3 columns">
    <h5>Recent Posts</h5>
    <ul class="side-nav">
      <% @posts.each do |p| %>
        <li><%= link_to p.title, post_path(p) %></li>
      <% end %>
    </ul>

  </aside>

  <!-- End Sidebar -->

</div>

<!-- End Main Content and Sidebar -->
 
